@import url("./index.css");
@import url("./header.css");

.topContainer {
  max-height: calc(100vh - 3em);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2.5em;

  margin-top: 5em;
  box-sizing:border-box
}

.profilePicWrapper {
  width: 12.5em;
  height: 12.5em;
  border: 4px solid #ffd301;
  border-top: 4px solid #3a11e5;
  border-right: 4px solid #f76b6b;
  box-shadow: 10px 10px 0px #333333;
}

.myName {
  font-size: 4.7em;
  font-weight: 900;
}

.myJobTitle {
  font-size: 3.125em;
  font-weight: 600;
}

.contactIconsContainer {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.contactIconsContainer a {
  cursor: pointer;
}

.contactIconsContainer a:hover {
  opacity: 0.6;
}
